.exp_draggable {
	/*
	background-color: blue;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px 10px 10px 0;
	*/
	padding: 0.2em;
	cursor: default;
	border: 1px solid transparent;
}
.exp_draggable:hover{
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.exp_draggable_hover{
	border: 1px solid #8C8C8C;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.exp_droppable {
	/*
	background-color: red;
	width: 150px;
	height: 150px;
	float: left;
	*/
	padding: 0.5em;
	margin: 10px;
}
.exp_lista_funcoes{
	padding: 0;
	margin-left: 1.5em;
	margin-right: 0.5em;
}

.exp_explain {
	font-size: 12px;
	line-height: 16px;
}

.metodos{
	border: 1px solid #BFBFBF;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

.tytle{
	font-size: 18px;
	line-height: 20px;
	padding: 0em;
	margin: 0.75em;
	
}

#valor, #code{
	background: #B3B3B3;
	font-weight: normal;
	color: #212121;
}

.entrada{
	border: 1px solid #BFBFBF;
}
.iteracoes{
	border: 1px solid #BFBFBF;
}
.nome_metodo{
	font-size: 16px;
	background: #D1D1D1;
}
.zero_x{
	margin : 2px;
}

sub.indice{
	font-size : 11px;
}

/*
 * index.css
 * 
 * Copyright 2013 Luís Puhl <luispuhl@gmail.com>
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 * 
 * * Redistributions of source code must retain the above copyright
 *   notice, this list of conditions and the following disclaimer.
 * * Redistributions in binary form must reproduce the above
 *   copyright notice, this list of conditions and the following disclaimer
 *   in the documentation and/or other materials provided with the
 *   distribution.
 * * Neither the name of the  nor the names of its
 *   contributors may be used to endorse or promote products derived from
 *   this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 * 
 * 
 */
